.todo-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
main {
	width: 40%;
}

aside {
	width: 60%;
}
.todo-form {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
	margin-bottom: 2em;
}
.todo-list li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
}

.todo-list li button {
	padding: 0;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	line-height: 1.5;
}